@charset "UTF-8";

@charset "UTF-8";

html, body, div.background {
	height: 100%; /* 「div.background」に対してはmin-heightに対応していないブラウザ用 */
	margin: 0;
}

div.background {
	min-height: 100%; /* 最小の高さ */
	width: 100%;
	background: #ffffe7;
}

body>div.background {
	height: auto; /* 要素を超えた分の背景が伸びないブラウザ用 */
}

body{
	position: relative;
	margin: 0;
	height: 100%;
	background-color: #ffffe7;
	background-image: linear-gradient(rgba(241, 207, 164, 0.5) .1em,
		transparent .1em);
	background-size: 100% 2.5em;
	line-height: 1.5em;
}


@font-face {
	font-family: font-demo1;
	src: url("HuiFont29.eot"); /*For IE*/
	src: url("HuiFont29.ttf") format("truetype"); /*For iOS Android*/
}

pencil {
	font-family: font-demo1;
	font-weight: normal;
	font-style: normal;
	font-size: 140%;
}

.blackbutton {
	display: inline-block;
	padding: .6em 0.5em;
	border: 2px solid #333;
	background-color: #ffffe7;
	border-radius: 2em .4em 1em .4em/.3em 1em .4em 2em;
	color: #333;
	text-decoration: none;
	text-align: center;
}

.redbutton {
	display: inline-block;
	padding: .6em 0.3em;
	border: 2px solid #F00;
	background-color: #ffffe7;
	border-radius: 2em .4em 1em .4em/.3em 1em .4em 2em;
	color: #F00;
	text-decoration: none;
	text-align: center;
}

.bluebutton {
	display: inline-block;
	padding: .6em 0.3em;
	border: 2px solid #0000ff;
	background-color: #ffffe7;
	border-radius: 2em .4em 1em .4em/.3em 1em .4em 2em;
	color: #0000ff;
	text-decoration: none;
	text-align: center;
}

input[type="text"] {
	width: 377px;
	height: 36px;
	background: #ffffe7;
	border: 2px solid #333;
	border-radius: 2em .4em 1em .4em/.3em 1em .4em 2em;
	font-size: 1em;
	text-indent: 0.7em;
}
input[type="text"]:focus {
	background: #ffffe7;
	border: 2px solid #333;
}

input[type="password"] {
	width: 377px;
	height: 36px;
	background: #ffffe7;
	border: 2px solid #333;
	border-radius: 2em .4em 1em .4em/.3em 1em .4em 2em;
	font-size: 1em;
	text-indent: 0.7em;
}
input[type="password"]:focus {
	background: #ffffe7;
	border: 2px solid #333;
}

input[type="date"] {
	width: 377px;
	height: 36px;
	background: #ffffe7;
	border: 2px solid #333;
	border-radius: 2em .4em 1em .4em/.3em 1em .4em 2em;
	font-size: 1em;
	text-indent: 0.7em;
}
input[type="date"]:focus {
	background: #ffffe7;
	border: 2px solid #333;
}

.wrapper {
	display: flex;
	justify-content: center;
 }
